//Variables

$website-width: 1080px;

$medium-color: #ccc;
$dark-color: #333;
$bg-image: url('../img/showcase.jpg');

$header-height: 3rem;
$font-semi: 600;

//colors
$main-color: #66a1a3;
$second-color: #89bcbd;
$light-color: #d9efd6;

//font
$body-font: 'Poppins', sans-serif;
$big-font-size: 2rem;
$h2-font-size: 1.25rem;
