.button {
  display: inline-block;
  background-color: $main-color;
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: $font-semi;
  border-radius: 0.5rem;
}

.button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}
